<style>
	.video-fluid {
		width: 100%;
		height: auto;
	}
</style>

<div class="container-fluid mt-5">
	<div class="content-wrapper">
		<div class="container-fluid mt-3">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="#">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">Subscription Videos</li>
			</ol>
		</div>

		<%- include('../partials/adminMessages') %>

		<div class="mt-5">
			<!-- <h2>Users</h2> -->
			<table class="table table-bordered text-center mt-4">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Amount</th>
						<th scope="col">Status</th>
						<th scope="col">Days Left</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<b>$<%= user.subscription.amount %></b> / <%=
							user.subscription.span %>
						</td>
						<td><%= user.subscription.status %></td>
						<td><%= dateDifference(user.date) %></td>
						<td>
							<a
								href="/admin/user/cancelSubscription"
								class="btn btn-primary btn-sm"
							>
								<% if (user.subscription.status == 'trail') { %> Cancel
								Subscription <% } else { %> Activate Subscription <% } %>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
