<main>
	<div class="slider">
		<div>
			<h1 class="tagline"><span>SY7 | </span> BODYBAR</h1>
			<b>NOW is the time to practice YOGA & HITT.</b>
			<br />
			<br />Unlimited yoga classes anytime, any place<br />
			<br /><b>Start practicing with a 7 day Free Trial today.</b> <br /><br />
			<p><b>Click here for a free 20 minute class.</b></p>
			<!-- <a href="/yogaVideo" class="classLink"
				>Click here for a free 20 minute class.</a
			> -->
		</div>
		<div class="btns">
			<br /><br /><br />
			<% if (typeof user == 'undefined') { %>
			<a class="trail" href="/signup">start free trial</a>
			<a class="trailer" href="/yogaVideo"
				><i class="fas fa-arrow-right"></i> trailer</a
			>
			<% } else { %>
			<a class="trailer" href="/watchVideos"
				><i class="fas fa-video"></i> latest video</a
			>
			<% } %>
		</div>

		<!-- <div class="price">
			<br />
			$19.99 a month or $199 a year after 7-day free trial
			<a href="#" class="classLink">Gift this</a>
		</div> -->
	</div>

	<div class="services">
		<div class="service">
			<h3>access all online classes</h3>
			<p>
				Practice as many styles as you'd like, as many times you need. Get all
				access for under $20 a month.
			</p>
		</div>

		<div class="service">
			<h3>choose by style, level, duration</h3>
			<p>
				Classes range from beginner to advanced, and styles include Kids Yoga,
				Power Flow, Vinyasa, Beginner Basics, and more.
			</p>
		</div>

		<div class="service">
			<h3>practice anytime, anywhere</h3>
			<p>
				No need to be tied down by a yoga schedule, with the best teachers in
				Miami on your computer, phone or tablet.
			</p>
		</div>
	</div>
</main>

<div class="heading">
	<h1>Featuring SY7 BODYBAR Teachers & Classes</h1>
	<p>
		Flow, sing, chant, & meditate with the best teachers in Miami, wherever your
		practice takes you.
	</p>
</div>
<br />
<div class="trainers">
	<% trainers.forEach(trn => { %>
	<div>
		<a href="/trainerProfile/<%= trn.id %>">
			<img
				src="/images/<%= trn.image %>"
				alt="Trainer Image"
				title="<%= trn.name %>"
			/>
		</a>
		<br />
		<h4><%= trn.name %></h4>
		<p><%= trn.category %></p>
	</div>
	<% }) %>
</div>

<br />
<hr />
<br /><br />
<div class="portability">
	<h1>Play on any device & Airplay on TV.</h1>
	<p>
		No television provider needed. Play on your phone, tablet, laptop or AirPlay
		anytime, anywhere. Sign up now & be on your mat with SY7 BODYBAR in under a
		minute.
	</p>
	<div class="portable-img"></div>
</div>
