<style>
	.latest-video {
		box-sizing: border-box;
		width: 100%;
		display: flex;
		align-items: center;
		margin: 0;
		padding: 2em 0;
	}

	.latest-video>div{
		flex: 1;
	}
	
	.latest-video > div:nth-child(1) {
		padding: 3em;
	}

	.video-info h1 {
		margin-bottom: 0;
	}

	.w-btn {
		text-decoration: none;
		color: white;
		background: dodgerblue;
		font-weight: 500;
		padding: 0.8em 2em;
		border-radius: 5px;
		display: inline-block;
		margin-top: 1em;
		transition: 0.3s ease-in-out;
	}

	.w-btn:hover {
		background: rgb(10, 109, 209);
	}

	.w-btn:active {
		transform: scale(0.9);
	}

	.video-thumbnail img {
		filter: opacity(0.9);
		width: 100%;
		height: 100%;
	}

	.duration {
		margin-top: 0;
	}

	section {
		padding: 3em;
	}

	nav {
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	}

	.sv {
		margin: 4em 0;
	}

	.sv h2,h2,h4{
		font-weight: normal;
	}

	.brstrainers{
		height: 275px;
		overflow: hidden;
	}

	.sv .sv-video,.brstrainers {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
		gap: 1em;
		margin-top: 10px;
	}

	.sv .sv-video video {
		width: 100%;
	}

	.empty{
		width: 300px;
		height: 200px;
		background: black;
		margin-bottom: 10px;
	}

	.brstrainer{
		margin-top: 1em;
	}
	
	.brstrainer img{
		width: 100%;
		height: 200px;
		transition: .3s ease-in-out;
	}

	.brstrainer img:hover{
		opacity: .8;
	}

	.brstrainer p{
		color: grey;
		font-size: 14px;
		margin-top: 5px;
	}

	.all{
		font-size: 14px !important;
		float: right;
		transition: .4s;
		color: grey;
	}

	a.all:hover{
		color: black;
		text-decoration: underline;
	}

	.explore{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
		gap: 15px;
		height: 230px;
		overflow: hidden;
	}

	.explore .ex-video video{
		width: 100%;
	}

	p.title{
		color: grey;
		margin: 5px 0;
	}

	@media screen and (max-width: 892px){
		.explore{
			height: 880px;
		}

		.latest-video {
			display: flex;
			flex-direction: column;
		}
	}
</style>

<div class="latest-video">
	<div class="video-info">
		<h1>Latest Video</h1>
		<p class="duration"><%= videosArray.length %>  videos</p>
		<br />
		<br />
		<a href="/watchVideos" class="w-btn">Watch Now</a>
	</div>
	<div class="video-thumbnail">
		<img
			src="/images/All Videos.jpeg"
			alt=""
		/>
	</div>
</div>

<section>
	<div class="styleVideos">
		<% videosArray.forEach(e => { %>
		<div class="sv">
			<div class="name">
				<h2><%= e.name %> <a href="/yogaStyle/<%= e.name %>"  class="all">See all</a></h2>
			</div>
			<div class="sv-video">
				<% e.styles.forEach(elem => { %>
					<div class="div">
				<% if (user == undefined) { %>
				<div class="empty"></div>
				<% }else { %>
				<video
					<%= user == undefined ? '' : 'controls' %> 
					controlsList="nodownload">
					<source src="/uploads/trainerVideos/<%= elem.video.name %>" type="video/mp4">
				    <source src="/uploads/trainerVideos/<%= elem.video.name %>" type="video/ogg">
    				<source src="/uploads/trainerVideos/<%= elem.video.name %>" type="video/webm">
				</video>
					<% } %> 
				<p class="title"><%= elem.title %></p>
					</div>
				<% }) %>
			</div>
		</div>
		<% }) %>
</div>
	

<h2>Teachers <a href="/yogaTrainers" class="all">See all</a></h2>
<div class="brstrainers">
<% trainers.forEach(trainer => { %>
 <div class="brstrainer">
	 <a href="/trainerProfile/<%= trainer.id %>">
	 <img src="/images/<%= trainer.image %>"  alt="">
	 </a>
	 <h4><%= trainer.name %> </h4>
	 <p><%= trainer.videos.length %> videos</p>
 </div>
<% }) %>	
</div>
</section>

<section>
	<h2>Explore All Videos <a href="/yogaStyle/all" class="all">See all</a></h2>
	<br>
	<div class="explore">
		<% videosArray.forEach(e => { %>
			<% e.styles.forEach(elem => { %>
			<div class="ex-video">
				<% if (user == undefined) { %>
				<div class="empty"></div>
				<% } else { %>
				<video
					<%= user == undefined ? '' : 'controls' %> 
					controlsList="nodownload">
					<source src="/uploads/trainerVideos/<%= elem.video.name %>" type="video/mp4">
				    <source src="/uploads/trainerVideos/<%= elem.video.name %>" type="video/ogg">
    				<source src="/uploads/trainerVideos/<%= elem.video.name %>" type="video/webm">
				</video>
					<% } %> 
				<p class="title"><%= elem.title %></p>
			</div>
			<% }) %>
		<% }) %>
	</div>
</section>
